header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    border-bottom: 1px solid black;
}

button{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}